<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello angular</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <style>
        .task-completed {}

        .task-not-completed {}

        [ng-cloak] {
            display: none;
        }

        form.ng-submitted .ng-invalid,
        form .ng-invalid.ng-touched,
        form .ng-invalid.ng-dirty{
            border:1px solid red;
        }
    </style>
</head>

<body ng-controller="AppCtrl">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" ng-cloak>
        <div class="container">
            <a class="navbar-brand" href="#">TaskApp</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item" ng-repeat="page in pages">
                        <a class="nav-link" href="#" ng-click="goToPage(page)">
                            {{page.label}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="nav-text text-white ml-auto">
                <span class="me-1">{{time}}</span>
                <span>Welcome {{user.name? user.name : 'Guest'}} | </span>
                <a class="text-white" ng-click="login()" ng-if="!user.name">Login</a>
                <a class="text-white" ng-click="logout()" ng-if="user.name">Logout</a>
            </div>
        </div>
    </nav>

    <div class="container" ng-cloak>

        <p class="alert alert-danger" ng-repeat="message in notifications">{{message}}</p>

        <ng-include src="currentPage.url"></ng-include>
    </div>

    <script src="node_modules/angular/angular.js"></script>
    <!--  -->
    <script src="src/users/users.module.js"></script>
    <script src="src/users/users.service.js"></script>
    <script src="src/users/users.directives.js"></script>
    <script src="src/tasks/tasks.module.js"></script>
    <script src="src/tasks/tasks.service.js"></script>
    <!--  -->
    <script src="src/config.js"></script>
    <script src="src/app.module.js"></script>
</body>

</html>