<div class="row mt-2" ng-controller="UsersCtrl as userCtrl">

    <div class="col">
        <h4>Users</h4>
        <users-list 
            users="userCtrl.users" 
            on-select="userCtrl.select($event)" 
            selected-id="userCtrl.selectedId"></users-list>

        <button class="btn btn-info mt-4" ng-click="userCtrl.createNew()">
            Create new user
        </button>
    </div>

    <div class="col" ng-if="userCtrl.mode === 'details' && userCtrl.draft">
        <user-details 
            user-model="userCtrl.draft" 
            on-edit="userCtrl.edit($event.id)"></user-details>
        
    </div>

    <div class="col" ng-if="userCtrl.mode === 'edit'">
        <user-form user="userCtrl.draft" 
            on-cancel="userCtrl.cancel()" 
            on-save="userCtrl.save($event)"></user-form>
    </div>
</div>