<h1>User directives</h1>

<input type="text" ng-model="user.name">
<p> {{user.name}}</p>
<!-- <button ng-click=" user = angular.copy(user)">update</button> -->

<user-card title="About user" user-data="user" on-save="user.name = $event.name"></user-card>


<input type="text" ng-model="person.name" ng-init="person = {name:'test'}">
<p> {{person.name}}</p>

<user-card title="About user" user-data="person" on-save="person = $event"></user-card>

<!-- <input ng-change="$event.target.value"></input> -->

<!-- <div ng-controller="DumbCtrl">
    Name : {{name}}

    <div app-higlight color="blue">Click me!</div>
</div>

<hr>
<div ng-controller="DumbCtrl">
    Name : {{name}}
    <input type="text" ng-model="color">

    <div class="app-higlight" color="{{color}}">Click me!</div>

    <app-higlight></app-higlight>
</div> -->

<!-- directive: app-higlight -->