<div class="row mt-4" ng-controller="TasksCtrl">
    <div class="col">
        <h3>Tasks</h3>
        <h3 ng-if="tasks.length === 0">No tasks</h3>

        <h5 class="text-end">
            {{state.tasks.length}} Tasks
            |
            {{ completedCount }} completed
        </h5>
        <hr>
        <div class="list-group">
            <div class="list-group-item" ng-repeat="task in state.tasks" ng-click="selectTask(task.id)"
                ng-class="{ active: selectedId == task.id }">
                <input type="checkbox" ng-checked="task.completed" 
                    ng-click="taskCompleted($event, task)">
                <span ng-class="{
              'task-completed': task.completed,
              'task-not-completed': task.completed === false
            }" ng-style="{
              'text-decoration': task.completed? 'line-through' : null
            }">
                    {{$index+1}}. {{task.title}}
                </span>
                <span class="close float-end" ng-click="removeTask(task.id)">&times;</span>
            </div>
        </div>

        <pre>{{ tasks | json }}</pre>
    </div>
    <div class="col">


        <input type="text" class="form-control mb-3" placeholder="Task name" ng-model="tempTitle"
            ng-keyup="$event.keyCode === 13 && addTask()">
        <button class="btn btn-success w-100" ng-click="addTask()">Add Task</button>
    </div>
</div>